  


a{
color: #eee;
}

#localisation{
display: flex;
justify-content: space-around;
}

#map {
min-width: 50%;
height: 400px;
}

iframe {
border-radius: 25px;
}

#adresse {
min-width: 50%;
display: flex;
justify-content: center;
margin: auto;
}

/*pour la partie question nous contacter */


/* LABEL ======================================= */

/* form starting stylings ------------------------------- */

form{
  width: 80%;
  color: #101025;
  text-align: center;
}

.formulaire{ 
  position:relative; 
  margin-bottom:45px;
}

#SectionFormulaire{
  
  font-family:'Roboto';
  width: 100%; 
  margin:5px auto 0; 
  background: none;
}

input {
  background-color: hsla(0, 0%, 100%, 0.35);
  font-size: 18px;
  padding: 10px 10px 10px 10px;
  margin-top: 15px;
  border-radius: 5px 5px 5px 5px;
  border: none;
  border-bottom: 4.5px solid #757575;
  text-align: center;
}

textarea{
  background-color:hsla(0, 0%, 100%, 0.35) ;
  font-size:18px;
  margin-top: 15px;
  height: 200px;
  border:none;
  border-radius: 5px 5px 0px 5px;
  border-bottom: 4.5px solid #757575;
  text-align: center;
}

label{
  color:rgb(29, 29, 29); 
  font-size:18px;
  font-weight:normal;
  position:absolute;
  pointer-events:none;
  left:5px;
  top:0px;
}

::placeholder {
  color: #000;
}

#envoyer input {
  width: 40%;
  height: 50px;
  border-radius: 10px;
  border: none;
}

#envoyer:hover input {
  background-color: rgba(238, 238, 238, 0.60);
}


/* fin de la partie contacter */


@media(max-width: 836px){
  #map{
    width: 100%;
    
  }
  #adresse{
    width: 100%;
  }
  form{
    width: 100%;
  }
  
}

                                                                    /*FIN DU MAIN*/

                                                                    /*DÉBUT FOOTER*/

