html {
    height: auto;
  }
  
  body{
    
    font-family: Arial, Helvetica, sans-serif;
    color: #eee;
    background-color: rgb(36, 36, 36);
    width: auto;
  }
  
  header{
    text-align: center;
    border: goldenrod 3px solid;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    gap: 50px;
    height: 7.5%;
    margin-bottom: 20px;
    
  }
  
  #logoMenu{
    display: none;
  }
  
  header img {
      width: 5em;
      height: 5em;
  }
  
  nav{
    display: flex;
    flex-flow: nowrap;
    gap: 25px;
    justify-content: space-between;
    align-items: center;

  }
  
  
  h1{
    text-align: center;
  }
  
  h3{
    text-align: center;
  }
  
  section{
    text-align: center;
  }

  #Menu{
    display: none;
  }
  
  
  
  .bouton {
      background: none;
      color: white;
      padding: 16px;
      font-size: 16px;
      border: 2px solid rgba(255,255,255,0.4);
      border-radius: 40px 10px 40px 10px;
    
  }
  
  /* The container <div> - needed to position the dropdown content */
  .deroulant {
      position: relative;
      display: inline-block;
     
  }
  
  /* Dropdown Content (Hidden by Default) */
  .contenu-bouton {
      display: none;
      position: absolute;
      background-color: darkgrey;
      min-width: auto;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
      border-radius: 5px 5px 20px 20px;
  }
  
  /* Links inside the dropdown */
  .contenu-bouton a {
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
  }
  
  /* Change color of dropdown links on hover */
  .contenu-bouton a:hover {
    background-color: gainsboro;
    border-radius: 20px;
  }
  
  /* Show the dropdown menu on hover */
  .deroulant:hover .contenu-bouton {
    display: block;
    }
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .deroulant:hover .bouton {
    background-color: orange;
    }

    section{
        /* max-width: 1000px; */
        min-width: 200px;
        margin: auto;
        max-width: 1200px;
      }

    #presentation{
        height: 20%;
    }

    #txtPresentation{
        color: gainsboro;
        background-color: rgba(128, 128, 128, 0.671);
    }

    #photoAutour{
      padding-top: 50px;
      padding-bottom: 50px;
    }

    #photoFond{
      padding-top: 10px;
      margin: auto;
      background: url('fontaine-saint-marie.jpg') ;
      background-size: cover;
      height: 620px;
      max-width: 1200px;
      border: rgb(126, 123, 123) 10px solid;
      border-radius: 100px;
    }

    #divPhoto{
      display: flex;
      justify-content: center;
      height: 25%;
      /* border: black 4px solid; */
    }

    .slider{
      width: 500px;
      overflow: hidden;
      height: 300px;
      border: rgb(126, 123, 123) 10px solid;
      border-radius: 50px;
    }

    .slides{
      width: calc(500px*3);
      animation: glisse 15s infinite;
    }

    .slide{
      float: left;
    }

    @keyframes glisse{
      0%{
        transform: translateX(0);
      }
      10%{
        transform: translateX(0);
      }

      33%{
        transform: translateX(-500px);
      }

      43%{
        transform: translateX(-500px);
      }

      66%{
        transform: translateX(-1000px);
      }

      76%{
        transform: translateX(-1000px);
      }

      100%{
        transform: translateX(0);
      }
    }



    #compartimentIMRD{
        margin-top: 30px;
        margin-right: 15px;
        margin-left: 15px;
        height: 40%;
        display: flex;
        flex-flow: row nowrap;
        height: 600px;
        gap: 30px;
        /* border: black 3px solid; */
    }

    #divInfoSeance{
        display: flex;
        height: auto;
        width: 300px;
        padding-left: 10px;
        padding-right: 10px;
        /* border: black 3px solid; */
    }

    #divInfoSeance:hover{
        -webkit-transform:scale(1.05); /* Safari et Chrome */
        -moz-transform:scale(1.05); /* Firefox */
        -ms-transform:scale(1.05); /* Internet Explorer 9 */
        -o-transform:scale(1.05); /* Opera */
        transform:scale(1.05);
        background-color: rgba(117, 117, 117, 0.315);
        border-radius: 30px;
    }

    #txtIS{
        color: whitesmoke;
    }

    #meteoRDV{
        display: flex;
        flex-flow: column;
        height: 500px;
        /* border: black 3px solid; */
    }

    #meteo{
        height: auto;
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 20px;
        /* border: black 3px solid; */
    }

    #meteo:hover{
        -webkit-transform:scale(1.05); /* Safari et Chrome */
        -moz-transform:scale(1.05); /* Firefox */
        -ms-transform:scale(1.05); /* Internet Explorer 9 */
        -o-transform:scale(1.05); /* Opera */
        transform:scale(1.05);
        background-color: rgba(117, 117, 117, 0.315);
        border-radius: 30px;
    }


    #RDV{
        height: auto;
        margin-top: 50px;
        padding-left: 10px;
        padding-right: 10px;
        /* border: black 3px solid; */
    }

    #RDV:hover{
        -webkit-transform:scale(1.05); /* Safari et Chrome */
        -moz-transform:scale(1.05); /* Firefox */
        -ms-transform:scale(1.05); /* Internet Explorer 9 */
        -o-transform:scale(1.05); /* Opera */
        transform:scale(1.05);
        background-color: rgba(117, 117, 117, 0.315);
        border-radius: 30px;
    }



    #divDocu{
        display: flex;
        height: auto;
        padding-left: 10px;
        padding-right: 10px;
        /* border: black 3px solid; */
    }

    #divDocu:hover{
        -webkit-transform:scale(1.05); /* Safari et Chrome */
        -moz-transform:scale(1.05); /* Firefox */
        -ms-transform:scale(1.05); /* Internet Explorer 9 */
        -o-transform:scale(1.05); /* Opera */
        transform:scale(1.05);
        background-color: rgba(117, 117, 117, 0.315);
        border-radius: 30px;
    }

    .docu{
        color: gainsboro;
    }

    .docu:hover{
        color: goldenrod;
    }

    footer {
        margin-top: 30px;
        height: 7.5%;
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      border: goldenrod 3px solid;
      justify-content: space-between;
    }
    footer img {
      width: 64px;
    }

    #contact{
        text-align: center;
        padding-right: 5px;
    }

    #email{
        color: whitesmoke;
    }

    #email:hover{
        color: black;
    }
  @media(max-width: 600px){
  
  
    .bouton{
      display: none;
    }
  
    #logoMenu{
      display: inherit;
    }
    #logo{
      margin: auto;
    }
  }
    
  
