body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #000;


}

article {
    display: flex;
    flex-flow: row nowrap;
}
.slide {
    border: solid 2px #000;
}

@media (prefers-color-scheme: dark) {
    body {
        color: #fff;

        background-color: #121212;
    }

    .slide {
        border: solid 2px #fff;
    }
}
