main {
    width: 90%;
  
    margin: auto;
  
    display: flex;
      flex-flow: column nowrap;
      gap: 20px;
}
section {
    display: flex;
      justify-content: space-between;
      gap: 10px;
}
section a {
    color: #fff;
}
section a:hover {
    color: #aaa;
}
section ul {
    display: flex;
        flex-flow: column;
        gap: 5px;
}
section article {
    width: 75%;
}
section article div {
    display: flex;
        gap: 20px;
}
section article div img {
    max-width: 15%;
}

.sub_article {
    margin-top: 40px;
}

.static, .slide {
    width: 24%;
    height: fit-content;

    border: solid 2px #fff;
    border-radius: 5px;
    
    text-align: center;
}
.static div, .slide div {
    border-bottom: solid 2px #fff;

    display: flex;
        flex-flow: nowrap;
}
.static img, .slide img {
    width: 100%;
    min-height: 80px;

    background-image: url("../img/noImg.gif");
    background-size: 80%;
    background-position: center;
}

.slide img {
    width: 84%;
}
.slide button {
    width: 8%;
    border: solid 1px #fff;

    background: none;
    background-color: #fff2;
}
.slide button:hover {
    background-color: #fff4;
}



@media (max-width: 700px) {

    main {
        width: 100%;

        text-align: center;
    }

    section {
        flex-flow: wrap;
    }
    section article {
        width: 100%;
    }

    .static, .slide {
        width: 90%;

        margin: auto;
    }
  }